@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');



*{
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header{
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo{
  text-decoration: none;
  color: blue;
  font-weight: 700;
  font-size: 1.8em;
}
.logo:hover{
  color: blueviolet; 
}
.navigation a{
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover{
  color: blueviolet ;  
}

section{
  padding: 100px 200px; 
}
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(moni2.jpg);
  background-position: left center;
  background-size: cover;
  background-attachment: fixed;
}
.main h2{
  color:#fff ;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span{
  display: inline-block;
  margin-top: 10px;
  color:#4e9eff ;
  font-size: 3em;
  font-weight: 600;
}
.main h3{
  color:#fff ;
  width: 750px;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top:10px ;
  margin-bottom:30px ;
}

.main-btn{
  color:#fff ;
  background-color: #3a6cf4 ;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom:40px ;
  transition: 0.7s ease;
}
.main-btn:hover{
  background-color: #0a49f6 ;
  transform: scale(1.1);
  
}
.social-icons a{
  color:#fff ;
 font-size: 1.7em;
 padding-right: 30px;
  
}
.title{
display: flex;
justify-content: center;
color:#3a6cf4 ;
font-size: 2.2em;
font-weight: 800;
margin-bottom:30px ;
  
}
.content{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
  
}
.card{
background-color: #fff;
width: 21.25em;
box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
  
}
.card:hover{
transform: scale(1.1);
  
}
.icon{
color:#3a6cf4 ;
font-size: 8em;
text-align: center;
  
}
.info{
text-align: center;
  
}

.info h3{
color:#3a6cf4 ;
font-size: 1.2em;
font-weight: 700;
margin: 10px;
  
}
.info .diplome{
text-decoration: none;
display: flex;
justify-content: center;
 
}
.info a:hover{
color: blueviolet; 
}
.experiance .content{
margin-top: 30px;
}
.experiance-card{
background-color: #fff;
border: 1px solid #fff;
min-height: 14em;
width: 23em;
overflow: hidden;
border-radius: 10px;
margin: 20px;
transition: 0.7s ease;
box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}
.experiance-card:hover {
transform: scale(1.1);
}
/*.experiance-card:hover .experiance-image{
opacity: 0.9;
}*/
.experiance-image img{
width: 100%;
}
.experiance-info{
padding: 1em;
}
.experiance-categorie{
font-size: 0.8em;
color: #000;
}
.experiance-title{
display: flex;
justify-content: space-between;
/*text-transform: uppercase;*/
font-weight: 400;
margin-top: 10px;
}
.more-details{
text-decoration: none;
color: #3a6cf4;
}
.more-details:hover{
color: #601cfc;
}

.contact .icon{
font-size: 4.5em;
}
.contact .info h3{
color: #000 ;
}
.contact .info h3{
font-size: 1.5em;
}
.contact .info p a{
text-decoration: none;
}

.footer{
background-color: #000016 ;
color: #fff;
padding: 2em;
display: flex;
justify-content: space-between;
}
.footer-title{
font-size: 1.3em;
font-weight: 600;
}
.footer-title span{
color: #3a6cf4 ;
}
.footer .social-icons a{
font-size: 1.3em;
padding: 0 12px 0 0 ;
}


@media (min-width: 800px) and (max-width: 950px) {
header{
  padding: 10px 20px;
}
.logo{
  font-weight: 500;
  font-size: 1.2em;
}
.navigation a{
  font-size: 1em;
  font-weight: 500;
  padding-left: 30px;
}
section{
  padding: 100px 120px; 
}
.main h2{
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span{
  width: 590px;
  margin-top: 10px;
  font-size: 2.2em;
  font-weight: 600;
}
.main h3{
  width: 590px;
  font-size: 1em;
  font-weight: 500;
  margin-top:10px ;
  margin-bottom:30px ;
}

.main-btn{
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.9375em 2.1875em;
  margin-bottom:40px ;
  
}
}
@media (min-width: 600px) and (max-width: 800px) {
header{
  padding: 10px 20px;
}
.logo{
  font-weight: 500;
  font-size: 1.1em;
}
.navigation a{
  font-size: 0.8em;
  font-weight: 500;
  padding-left:10px;
}
section{
  padding: 100px 120px; 
}
.main h2{
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span{
  width: 450px;
  margin-top: 10px;
  font-size: 1.7em;
  font-weight: 600;
}
.main h3{
  width: 450px;
  font-size: 1em;
  font-weight: 500;
  margin-top:10px ;
  margin-bottom:30px ;
}

.main-btn{
  font-size: 1em;
  font-weight: 400;
  padding: 0.9375em 2.1875em;
  margin-bottom:40px ;
  
}
.contact .title{
font-size: 30px;
}
}
@media (min-width: 400px) and (max-width: 600px) {
header{
  padding: 10px 20px;
}
.logo{
  font-weight: 600;
  font-size: 0.6em;
}
.navigation a{
  font-size: 0.5em;
  font-weight: 500;
  padding-left:8px;
}
section{
  padding: 100px 100px; 
}
.main h2{
  font-size: 1.2em;
  font-weight: 500;
}
.main h2 span{
  width: 400px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 600;
}
.main h3{
  width: 250px;
  font-size: 0.8em;
  font-weight: 500;
  margin-top:10px ;
  margin-bottom:30px ;
}

.main-btn{
  font-size: 0.6em;
  font-weight: 500;
  padding: 0.9375em 2.1875em;
  margin-bottom:40px ;
  
}
.contact .title{
font-size: 17px;
}
.content{
display: flex;
justify-content: left;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
  
}

}